<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-button class="submit-btn" (click)="onUpdateProfile()">Update Profile</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to Dashboard!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="infos?.length > 0 else noinfos">
    <h1>Your information</h1>
    <ul *ngFor="let info of infos">
      <li>Name: {{info.name}}</li>
      <li>Age: {{info.age}}</li>

    </ul>
  </div>

</ion-content>