<ion-header>
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Me</th>
      <th>Room Mate</th>
    </tr>
  </thead>  

  <tbody>
<tr>
  <td>Age</td>
  <td></td>
  <td></td>
</tr>

<tr>
    <td>Gender</td>
    <td></td>
    <td></td>
  </tr>
  
  <tr>
      <td>LikeSwimming</td>
      <td></td>
      <td></td>
    </tr>

    <tr>
        <td>Like BasketBall</td>
        <td></td>
        <td></td>
      </tr>
      
    

  </tbody>

</table>

</ion-content>
